body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Світло-сірий фон */
  color: #333;
}

header {
  background: #4caf50; /* Зелений колір */
  color: white;
  padding: 1em 0;
  text-align: center;
}

header h1 {
  margin-bottom: 0.5em;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #45a049;
}

main {
  padding: 20px;
  margin: 15px auto;
  background: white;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 1em 0;
  background: #333;
  color: white;
  margin-top: 20px;
}

/* Стилі для зображень */
.cat-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 15px 0;
  border-radius: 8px;
}

.cat-gallery-img {
  width: 48%; /* Для розміщення двох зображень в рядку */
  margin: 1%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Стилі для контактної форми */
form input[type="text"],
form textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form input[type="submit"] {
  background-color: #f4a261;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

form input[type="submit"]:hover {
  background-color: #e76f51;
}
